<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.derlin.ivibrate" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" >
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".comm.ListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service android:name=".comm.SendToPhoneService" />

        <activity
            android:name=".OpenOnPhoneActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
